@import "~bootstrap/scss/bootstrap";

html,body{
    height: 100%;
}

body {
    background-color: lightgray;
}

.table-image {
    td, th {
      vertical-align: middle;
    }
  }

  .imagesH{
    min-width: 80px;
  }