{% extends 'base.html.twig' %}

{% block title %}Lista de im치genes {% endblock %}

{% block body %}
<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link" href="/dashboard">Subir imagen</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/logout">Cerrar sesi칩n</a>
  </li>
</ul>

<div class="container d-flex justify-content-center mt-5">

<div class="w-100">
<h1 class="my-5 text-center">Listado de im치genes</h1>
	<table class="table table-bordered table-image text-center">
		  <thead>
		    <tr>
		      <th scope="col">ID</th>
		      <th scope="col">IMAGEN</th>
		      <th scope="col">FECHA</th>
		    </tr>
		  </thead>
		  <tbody>
            {% if files|length == 0 %}
                <tr><td colspan="3"><b>No hay im치genes subidas!</b></td></tr>
            {% endif %}
		    {% for files in files %}

            <tr>
                <td scope="row">{{ files.id }} </td>
                <td class="w-25">
                <img class="imagesH img-fluid w-50" src="/uploads/images/{{ files.image }}" alt="{{ files.image }}">
                </td>
                <td> {{ files.fecha|date('Y-m-d H:i:s') }} </td>
            </tr>

            {% endfor %}

		  </tbody>
		</table>

</div>

</div>

{% endblock %}
